In [0]:
import numpy as np
import pandas as pd

In [0]:
title_dict = np.load('map_tilte.npy', allow_pickle=True).tolist()

In [18]:
test = pd.read_csv('test.dat', sep='\t', names=['reviewerID', 'asin', 'rate', 'title'])
test[test.reviewerID == 0]

       reviewerID  asin  rate                        title
11196           0  2471     2  Jagged Little Pill Acoustic
14517           0  1978     5        La Revancha Del Tango
16513           0     0     5              Memory of Trees

## Memory-based

In [9]:
from caserec.recommenders.rating_prediction.itemknn import ItemKNN

ItemKNN('train.dat', 'test.dat', 'rp_iknn.dat').compute()

[Case Recommender: Rating Prediction > ItemKNN Algorithm]

train data:: 5036 users and 2581 items (34703 interactions) | sparsity:: 99.73%
test data:: 4508 users and 2493 items (17093 interactions) | sparsity:: 99.85%

training_time:: 10.051786 sec
prediction_time:: 0.558465 sec
Eval:: MAE: 0.710864 RMSE: 1.104636

In [15]:
predictions = pd.read_csv('rp_iknn.dat', sep='\t', names=['reviewerID', 'asin', 'rate'])
predictions['title'] = predictions.asin.map(title_dict)
predictions.head(3)

   reviewerID  asin      rate                        title
0           0     0  2.705333              Memory of Trees
1           0  1978  4.839800        La Revancha Del Tango
2           0  2471  4.478565  Jagged Little Pill Acoustic

In [13]:
from caserec.recommenders.rating_prediction.userknn import UserKNN

UserKNN('train.dat', 'test.dat', 'rp_uknn.dat').compute()

[Case Recommender: Rating Prediction > UserKNN Algorithm]

train data:: 5036 users and 2581 items (34703 interactions) | sparsity:: 99.73%
test data:: 4508 users and 2493 items (17093 interactions) | sparsity:: 99.85%

training_time:: 9.999057 sec
prediction_time:: 3.507684 sec
Eval:: MAE: 0.687115 RMSE: 1.008135

In [16]:
predictions = pd.read_csv('rp_uknn.dat', sep='\t', names=['reviewerID', 'asin', 'rate'])
predictions['title'] = predictions.asin.map(title_dict)
predictions.head(3)

   reviewerID  asin      rate                        title
0           0     0  5.000000              Memory of Trees
1           0  1978  4.736122        La Revancha Del Tango
2           0  2471  3.899040  Jagged Little Pill Acoustic

## Model-based

In [19]:
from caserec.recommenders.rating_prediction.matrixfactorization import MatrixFactorization

MatrixFactorization('train.dat', 'test.dat', 'rp_mf.dat').compute()

[Case Recommender: Rating Prediction > Matrix Factorization]

train data:: 5036 users and 2581 items (34703 interactions) | sparsity:: 99.73%
test data:: 4508 users and 2493 items (17093 interactions) | sparsity:: 99.85%

training_time:: 14.870324 sec
prediction_time:: 0.051896 sec


Eval:: MAE: 0.713848 RMSE: 0.979218

In [20]:
predictions = pd.read_csv('rp_mf.dat', sep='\t', names=['reviewerID', 'asin', 'rate'])
predictions['title'] = predictions.asin.map(title_dict)
predictions.head(3)

   reviewerID  asin      rate                        title
0           0  2471  4.388470  Jagged Little Pill Acoustic
1           0  1978  4.943073        La Revancha Del Tango
2           0     0  4.829396              Memory of Trees